body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(57, 56, 59) , rgb(27, 26, 27));
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
   
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_logo {
    width: 200px;
    border-radius: 50%;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu {
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 20px;
    color: grey;
    font-size: 25px;
    margin: 0%;
    text-decoration: none;
}

.bi-list {
    color: whitesmoke;
    width: ;
}

.people {
    margin-top: 30px;
    height: 550px;
}

.bi-telegram,
.bi-instagram,
.bi-facebook {
  margin: 0 10px;
  font-size: 30px;
  color: grey;

}

.list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.menu:hover {    
    color: whitesmoke;
    transition: 0.35s;
}

.bi-telegram:hover{
    color: whitesmoke;
    transition: 0.35s;
}

.bi-instagram:hover {
    color: whitesmoke;
    transition: 0.35s;
}
.bi-facebook:hover {
    color: whitesmoke;
    transition: 0.35s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Викладачі */

.teams {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px
}

.team {
    margin-top: 30px;
    height: 200px;
    background-color: grey;
    border-radius: 30px;
    display: flex;    
    align-items: center;
}

.team:hover {
    box-shadow: 1px 1px 10px 1px #f9f8fa;
}

.team-img {
    margin: 0 30px;
    width: 160px;
    border-radius: 50%;
}

.team-description {
    margin-left: 50px;
}

p {
    color: whitesmoke;
}